<div class="middle">
  <div class="container">
    <div class="header-container">
      <div class="index-container">

        Welcome! <p>Begin by creating your profile as an

        <%= link_to 'ARTIST', new_artist_path, :id => "art-cursor" %>


        OR

        <%= link_to 'MUSICIAN', new_musician_path,:id => "music-cursor" %>

      </p>
      </div>
    </div>
  </div>
</div>
