/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /** {
   border: 1px solid red;
 }*/

@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada);

 #wrapper {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   display: inline-block;
   overflow: hidden;
   margin: 10px auto;
 }

 #wrapper img {
   max-width:105%;
   max-height:105%;
   background-position: left;
   margin: 0 auto;
 }

 #piece-wrapper {
   width: 200px;
   height: 200px;
   border-radius: 10%;
   display: inline-block;
   overflow: hidden;
   margin: 10px auto;
 }

 #piece-wrapper img {
   max-width:105%;
   max-height:105%;
   background-position: left;
   margin: 0 auto;
 }

 .container {
   display: flex;
   justify-content: center;
   margin-top: 70px;
 }

 .index-container {
   margin-top: 100px;
 }

 .header-container {
   justify-content: center;
   text-align: center;
 }

 .list-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   justify-content: space-between;
   margin: 0 100px;
   padding: 0 20px;
   /*border: 1px solid blue;*/
 }

 .list-header-container {
   /*border: 1px solid red;*/
   width: 200px;
   height: 300px;
   text-align: center;
   margin: 0 20px;
 }

 .music-list-header-container {
   /*border: 1px solid red;*/
   width: 300px;
   height: 300px;
   text-align: center;
   margin: 0 20px;
 }

 #name {
   font-size: 20px;
 }

 #description {
   font-size: 12px;
   margin: 10px 0;
   }

span {
  font-size: 40px;
  color: RGBA(140, 140, 150, 0.6);
}

.music-list-header-container #audio, #audio {
  /*border: 1px solid green;*/
  width: 300px;
  margin: 10px auto 40px auto;
  box-shadow: 5px 5px 5px 0px;
}

nav {
  position: fixed;
  background-color: RGBA(0, 10, 13, 1.00);
  height: 40px;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 5px 10px 0px;
}

nav #music-cursor:hover {
  cursor: url("http://downloads.totallyfreecursors.com/cursor_files/pianokeys.cur"), url("http://downloads.totallyfreecursors.com/thumbnails/piano-keys-11.gif"), auto;
}

nav #art-cursor:hover {
  cursor: url("http://downloads.totallyfreecursors.com/cursor_files/rainbow-ani.ani"), url("http://downloads.totallyfreecursors.com/thumbnails/rainbow-ani3.gif"), auto;
}

nav #collab-cursor:hover {
  cursor: url("http://downloads.totallyfreecursors.com/cursor_files/hand130.ani"), url("http://downloads.totallyfreecursors.com/thumbnails/hand127.gif"), auto;
}

nav a {
  text-decoration: none;
  margin: 20px;
  color: #FDFDFD;
  font-size: 15px;
  /*border: 1px solid red;*/
}

#maestropiece {
  /*border: 1px solid green;*/
  text-align: center;
  font-size: 40px;
  font-family: 'Montserrat Subrayada', sans-serif;
  color: white;
  text-shadow: inset 3px 4px 5px #000;
}

.inset-text {
    /* Shadows are visible under slightly transparent text color */
    color: white;
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}
