<!DOCTYPE html>
<html>
  <head>
    <title>Maestropiece</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      
      <a href="/artists">Artists</a>
      <a href="/musicians">Musicians</a>
      <a href="/collabs">Collabs</a>

      <div id="maestropiece">Maestropiece</div>
    </nav>
    <%= yield %>
  </body>
</html>
